* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    color: silver;
    padding: 1em;
}
#header-area {
    border-bottom: solid 4px #800020;
    height: 80px;
    margin: 0;
}
#menu-area {
    border-bottom: solid 4px #800020;
    color: #333;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
#graph-container {
    border-bottom: solid 4px #800020;
}
#date-range {
    margin: auto;
}
h1 {
    font-size: 2em;
    margin: 0 0 .35em 0;
}
/* CUSTOMIZE INPUTS */
/* Input styles are applied by Dash behind the scenes */
.Select-control {
    width: 300px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
	font-weight: bold;
}

/* Remove annoying border when dropdown has been used. */
.is-focused:not(.is-open)>.Select-control{
	border:none;
	box-shadow: none;
}

/* Date Range colours */
/* Calendar date start and end */
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: silver;
  border: 1px double goldenrod;
  color: #333;
}

/* Calendar in between start and end date */
.CalendarDay__selected_span {
    background: silver;
    border: 1px double gold;
    color: #333;
}

.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: goldenrod;
    border: 1px double goldenrod;
    color: #fff;
}